extends ../layout

block content
  .content
    .container-fluid
      .row
        .col-md-12
          .card
            .content.table-responsive.table-full-width
              table.table.table-hover.table-striped
                thead
                  tr
                    th title
                    th Edit
                tbody
                  each article in articles
                    tr
                      td #{article.title}
                      td(style="padding: 0 20px;") 
                        a(href="/admin/article/"+article._id) 
                          i.pe-7s-edit
