.card
  .header
    h4.title 2014 Sales
    p.category All products including Taxes
  .content
    #chartActivity.ct-chart
    .footer
      .legend
        i.fa.fa-circle.text-info
        |  Tesla Model S
        i.fa.fa-circle.text-danger
        |  BMW 5 Series
      hr
      .stats
        i.fa.fa-check
        |  Data information certified