.card
  .header
    h4.title Email Statistics
    p.category Last Campaign Performance
  .content
    #chartPreferences.ct-chart.ct-perfect-fourth
    .footer
      .legend
        i.fa.fa-circle.text-info
        |  Open
        i.fa.fa-circle.text-danger
        |  Bounce
        i.fa.fa-circle.text-warning
        |  Unsubscribe
      hr
      .stats
        i.fa.fa-clock-o
        |  Campaign sent 2 days ago