extends ../layout

block content
  .content
    .container-fluid
      .row
        .col-md-4
          include email_statistics
        .col-md-8
          include users_behaviours
      .row
        .col-md-6
          include 2014_sales
        .col-md-6
          include tasks