.card
  .header
    h4.title Tasks
    p.category Backend development
  .content
    .table-full-width
      table.table
        tbody
          tr
            td
              label.checkbox
                input(type='checkbox', value='', data-toggle='checkbox')
            td Sign contract for &quot;What are conference organizers afraid of?&quot;
            td.td-actions.text-right
              button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                i.fa.fa-edit
              |  
              button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                i.fa.fa-times
          tr
            td
              label.checkbox
                input(type='checkbox', value='', data-toggle='checkbox', checked='')
            td Lines From Great Russian Literature? Or E-mails From My Boss?
            td.td-actions.text-right
              button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                i.fa.fa-edit
              |  
              button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                i.fa.fa-times
          tr
            td
              label.checkbox
                input(type='checkbox', value='', data-toggle='checkbox', checked='')
            td
              | Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
            td.td-actions.text-right
              button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                i.fa.fa-edit
              |  
              button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                i.fa.fa-times
          tr
            td
              label.checkbox
                input(type='checkbox', value='', data-toggle='checkbox')
            td Create 4 Invisible User Experiences you Never Knew About
            td.td-actions.text-right
              button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                i.fa.fa-edit
              |  
              button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                i.fa.fa-times
          tr
            td
              label.checkbox
                input(type='checkbox', value='', data-toggle='checkbox')
            td Read &quot;Following makes Medium better&quot;
            td.td-actions.text-right
              button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                i.fa.fa-edit
              |  
              button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                i.fa.fa-times
          tr
            td
              label.checkbox
                input(type='checkbox', value='', data-toggle='checkbox')
            td Unfollow 5 enemies from twitter
            td.td-actions.text-right
              button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                i.fa.fa-edit
              |  
              button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                i.fa.fa-times
    .footer
      hr
      .stats
        i.fa.fa-history
        |  Updated 3 minutes ago