.card
  .header
    h4.title Users Behavior
    p.category 24 Hours performance
  .content
    #chartHours.ct-chart
    .footer
      .legend
        i.fa.fa-circle.text-info
        |  Open
        i.fa.fa-circle.text-danger
        |  Click
        i.fa.fa-circle.text-warning
        |  Click Second Time
      hr
      .stats
        i.fa.fa-history
        |  Updated 3 minutes ago