doctype html
html(lang='en')
  title
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
  body.bg-light-yellow
    navbar.bg-light-blue
      h2 <span class="bg-light-red fw6 f-4">re</span>educació