extends layout

block content
  include navbar

  .container.home(style="-background: red;")

    .row
      .seven.columns
        include partials/home/section_video
      .five.columns
        include partials/home/section_campaign

    //- .row
    //-   .seven.columns
    //-     include partials/home/section_articles
    //-   .five.columns
    //-     include partials/home/section_rewards