nav.navbar.bg-light-silver
  .container
    .row
      .two.columns
        .navbar-header
          a(href="/")
            .navbar-brand reeducació
      .ten.columns
        ul.navbar-list
          li.navbar-item
            a.navbar-link(href='#intro') Intro
          li.navbar-item
            a.navbar-link(href='#', data-popover='#codeNavPopover') Code
          li.navbar-item
            a.navbar-link(href='#examples') Examples
          li.navbar-item
            a.navbar-link(href='#', data-popover='#moreNavPopover') More
        