extends ../layout

block content
  .content
    .container-fluid

      .row(style="margin-bottom:10px;")
        .col-md-3.col-md-offset-9
          a(href="/admin/user/new")
            button.btn.btn-default.btn-block Afegir usuari

      .row
        .col-md-12
          .card
            .content.table-responsive.table-full-width(style="padding-top: 0px;")
              table.table.table-hover.table-striped
                thead
                  tr
                    th correu
                    th nom
                    th data registre
                    th rol
                    th editar
                tbody
                  each user in users
                    tr
                      td #{user.email}
                      td Albert Abril
                      td #{user.createdString}
                      td #{user.role}
                      td(style="padding: 0 20px;") 
                        a(href="/admin/user/edit/"+user._id) 
                          i.pe-7s-edit
