ul.nav.navbar-nav
  li(class=(title == 'Home') ? 'active' : undefined)
    a(href='/') Home
  li(class=(title == 'Api') ? 'active' : undefined)
    a(href='/api') API
  li(class=(title == 'Contact') ? 'active' : undefined)
    a(href='/contact') Contactar