nav.navbar.navbar-default.navbar-fixed
  .content
    .container-fluid
      .navbar-header
        include toggle_navigation
        a.navbar-brand(href='#') #{title}
      .collapse.navbar-collapse
        //- include navbar_notifications
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/logout')
              p Log out
          li.separator.hidden-lg.hidden-md