ul.nav.navbar-nav.navbar-left
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-globe
      b.caret.hidden-sm.hidden-xs
      |  
      span.notification.hidden-sm.hidden-xs 5
      p.hidden-lg.hidden-md
        | 5 Notifications
        b.caret
    ul.dropdown-menu
      li
        a(href='#') Notification 1
      li
        a(href='#') Notification 2
      li
        a(href='#') Notification 3
      li
        a(href='#') Notification 4
      li
        a(href='#') Another notification