ul.pagination.col-centered
  li.active(style="margin-right: 20px;")
    a(href='#') 1
  li(style="margin-right: 20px;")
    a(href='#') 2
  li(style="margin-right: 20px;")
    a(href='#') 3
  li(style="margin-right: 20px;")
    a(href='#') 4
  li(style="margin-right: 20px;")
    a(href='#') 5