//- - var sidebarBackground = "http://www.my-hd-wallpapers.com/wall_format/1409222773_old-school-board_iphone.jpg"
- var sidebarBackground = "http://www.suntreemontessori.com/wp-content/uploads/2015/02/the_montessori_materials.jpg?x50093"
.sidebar(data-color='purple', data-image=sidebarBackground)
  .sidebar-wrapper
    .logo
      a.simple-text(href='http://www.creative-tim.com') REEDUCACIÓ
    ul.nav
      li.active
        a(href='dashboard')
          i.pe-7s-graph
          p Panel
      li
        a(href='users')
          i.pe-7s-user
          p Usuaris
      li
        a(href='articles')
          i.pe-7s-news-paper
          p Articles
      li
        a(href='rewards')
          i.pe-7s-science
          p Mecenes
      li
        a(href='settings')
          i.pe-7s-tools
          p Configuració     
      //- li.active-pro
      //-   a(href='upgrade.html')
      //-     i.pe-7s-rocket
      //-     p Upgrade to PRO