//- - var sidebarBackground = "http://www.my-hd-wallpapers.com/wall_format/1409222773_old-school-board_iphone.jpg"
//- - var sidebarBackground = "http://www.suntreemontessori.com/wp-content/uploads/2015/02/the_montessori_materials.jpg?x50093"
- var sidebarBackground = "http://www.urbanmamas.com/.a/6a00d8341c629753ef014e8966b640970d-pi"

.sidebar(data-color='purple', data-image=sidebarBackground)
  .sidebar-wrapper
    .logo
      a.simple-text(href='/admin') REEDUCACIÓ
    ul.nav
      li(class=(section=="dashboard" ? 'active' : ''))
        a(href='dashboard')
          i.pe-7s-graph
          p Panel
      li(class=(section=="users" ? 'active' : ''))
        a(href='users')
          i.pe-7s-user
          p Usuaris
      li(class=(section=="articles" ? 'active' : ''))
        a(href='articles')
          i.pe-7s-news-paper
          p Articles
      li(class=(section=="rewards" ? 'active' : ''))
        a(href='rewards')
          i.pe-7s-science
          p Mecenes
      li(class=(section=="settings" ? 'active' : ''))
        a(href='settings')
          i.pe-7s-tools
          p Configuració     