extends ../layout

block content
  .content
    .container-fluid
      .row
        .col-md-12
          include ../partials/table-responsive
        .col-md-12.col-centered
          include ../partials/pagination
